h1.display-3.mb-1 p {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.lead {
    font-size: 16px;
    font-weight: 400;
    /*text-transform: uppercase;*/
}

p.desc {
    text-align: justify;
    font-size: 18px;
}

.title-info {
    font-size: 16px;
    font-weight: 600;
}

.logo-company img {
    width: 100%;
    height: auto;
}



img.logo-company-home {
    width: 100%;
    height: auto;
    object-fit: cover;
}