@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Poppins; 
}
body {
  background: #eee;
  font-family: Poppins; 
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100vh;
  background-color:white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

a {
  text-decoration: none!important;
  
}


/* .card.job {
  background: #fff;
  border-radius: 0rem;
  
} */


.card.job {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 99%;
  /* height: 40%; */
  padding: 20px;
  background: #fff;
  justify-content: center;
  border: none;
  border-radius: 0%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

a.go-job {
  width: 100%;
  height: 20%;
  /* background: #000; */
  padding: 15px;
  color: #000;
  border: 1px solid rgb(0,0,0,0.12);
  text-decoration: none;
}

a.go-job {
  width: 100%;
  height: 20%;
  /* background: #000; */
  padding: 15px;
  color: #000;
  border: 1px solid rgb(0,0,0,0.12);
}

a.go-job:hover {

  color: #000;
  border: 1px solid rgb(0,0,0,0.9);
}




.card-job-one {
  width: 24%;
  height: 257px;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  margin: 10px;
}



.container-job {width: 87%;height: auto;margin-top: -13px;}

.card-title {
  font-size: 17px;
  font-family: Poppins;
  margin-bottom: .75rem;
  text-align: left;
  font-weight: 600;
  
}

.localisation {
  text-align: left;
  font-size: 17px;
  font-family: Poppins;
  margin: 30px;
  margin-left: -1px;
}

img.arrow-job {
  width: 28px;
  display: none;
}

.row.all-job {
  padding: 26px;
  /* text-align: left; */
  justify-content: flex-end;
}


.footer {
  width: 100%;
  height: 13%;
  background:#ECECEB;
  position: absolute;
  top: 87%;
  z-index: 1;
}

.menu-left-bas {
  width: 11%;
  height: 100%;
  position: absolute;
  background: #000;
  z-index: 2;
  top: 0%;
  display: flex;
}

span.swiper-pagination-current {
  font-size: 74px;
  font-family: Poppins;
  color: #fff;
  font-weight: 100;
}

span.swiper-pagination-total {
  font-family: Poppins;
  font-size: 22PX;
  color: #fff;
  font-weight: 200;
}

.swiper-pagination.swiper-pagination-fraction {
  bottom: 8%;
  color: #fff;
  font-size: 22px;
  /* transform: rotate(-8deg); */
}

.container-fluid.title-job {
  top: -7%;
  position: absolute;
  left: 3%;
  font-size: 47px;
  font-family: Poppins;
  text-transform: uppercase;
  color: #f4f4f4;
}


.title-job {
  position: absolute;
  color:#f4f4f4;
  z-index: 0;
  top: 0%;
  left: 4%;
  z-index: 1;
}

.title-job p {
  font-size: 69px;
  font-weight: 600;
  text-transform: uppercase;
}


.swiper-button-next.next-button {
  position: absolute;
  left: 94%;
  top: 89.3%;
  z-index: 4;
  outline: 0;
  background: black;
  width: 7%;
  height: 13%;
}

.swiper-button-next img {
  width: 30px;
  height: 30px;
}


.swiper-button-prev.prev-button {
  position: absolute;
  left: 87.7%;
  top: 89.3%;
  outline: 0;
  background: black;
  width: 7%;
  height: 13%;
}

.swiper-button-prev img {
  width: 30px;
  height: 30px;
  color: #000;
}

.login {
  position: absolute;
  left: 89%;
  top: 8%;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
}

.haut-job {
  display: flex;
  width: 19%;
  position: absolute;
  z-index: 2;
  top: 2%;
  left: 75%;
  
}


.item {
  width: 100%;

  margin: 10px;
}

.item.item2 {
  text-align: end;
}

.item.item2 p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.item.item1 p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.plus-job {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.plus-job:hover {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color:red;
}

.info-company h2 {
  position: absolute;
  left: 117%;
  top: 13%;
  color: #000;
}

.info-company {
  position: absolute;
  left: 135%;
 

  font-size: 47px;
  font-family: Poppins;
  font-weight: 700;
}

.address-company {
  position: absolute;
  left: 135%;
  width: 272%;
  top: 60%;
  font-family: Poppins;
  font-weight: 500;
  display: initial;
}

.social-company {
  display: flex;
  background: red;
  position: absolute;
  left: 11%;
  width: 59%;
  z-index: 6;
  justify-content: flex-end;
  top: 90%;
}

.so {
  width: 10%;
  width: 35px;
  height: 35px;
  z-index: 2;
  position: absolute;
  top: 88%;
  left: 80%;
}

.so2 {
  width: 10%;
  width: 35px;
  height: 35px;
  z-index: 2;
  position: absolute;
  top: 94%;
  left: 80%;
}


img.card-img-blog {
  width: 100%;
}

.card-body-blog {
  position: absolute;
  top: 41%;
  color: white;
  width: 72%;
  left: 13%;
}

.card.blog {
  height: 476px;
  border: none;
  transition: .2s;
}

.container-blog {
  width: 100%;
  /* background: red; */
  display: flex;
}


.container-blog {width: 100%;height: auto;margin-top: -13px;}

img.img-blog {
  width: 100%;
  object-fit: cover;
  height: 102%;
}

h5.card-title-blog {
  position: absolute;
  top: 76%;
  text-align: initial;
  color: #fff;
  font-size: 16px;
  font-family: Poppins;
  left: 3%;
  width: 73%;
  display: none;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

.card-body{
  padding: 0rem!important;
}

.card.blog:hover .card-body h5{

  display: initial;
}


.number h2 {
  position: absolute;
  /* background: red; */
  width: 9%;
  font-size: 139px;
  z-index: 1;
  left: 3%;
  top: 62%;
  font-family: Poppins;
  font-weight: 800;
  color: rgb(0,0,0,0.16);
}

.number2 h2 {
  position: absolute;
  /* background: red; */
  width: 9%;
  font-size: 139px;
  z-index: 1;
  left: 38.5%;
  top: 62%;
  font-family: Poppins;
  font-weight: 800;
  color: rgb(0,0,0,0.16);
}

.number3 h2 {
  position: absolute;
  /* background: red; */
  width: 9%;
  font-size: 139px;
  z-index: 1;
  left: 71.2%;
  top: 62%;
  font-family: Poppins;
  font-weight: 800;
  color: rgb(0,0,0,0.16);
}

img.cover {
  width: 80%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: -7%;
  z-index: 0;
}


.container.home-company {
  position: absolute;
  z-index: 2;
  left: 19%;
  top: 42%;
  width: 102%;
}


.container.home-company h1 {
  font-size: 42px;
  font-family: Poppins;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
}

.col-lg-6.col-md-4.desc {
  position: absolute;
  left: 26%;
  top: 63%;
}


.btn-plus.d-flex.justify-content-center p {
    color: #fff;
    background: #000;
}